.sinopse{
    background-image: url("https://i.imgflip.com/a5qrjf.jpg");
    color: yellow;
}
.image{
    align-self: flex-end;
    
}
h1{
    color: green;
}
table{
    color: yellow;
    background-color: green;
}

::backdrop {
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.sPbjbz90llCmi9GoZkjIvQHaEo?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: fill;
}


body{
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.sPbjbz90llCmi9GoZkjIvQHaEo?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: fill;
}