body {
    background-color: #000000;
}

h1 {
    color: #ccff00;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #ccff00;
}

h3 {
    color: #ccff00;
}

p {
    color: #ffffff;
}
